@import "tailwindcss";

@theme {
	--colors-neutral-300: #d1d0d5;
	--colors-neutral-500: #8784a5;
	--colors-neutral-900: #0d082d;
	--colors-orange-500: #f57463;
	--colors-orange-700: #e1604f;
	--colors-neutral-700: #4b4869;
	--colors-neutral-0: #fff;
	--gradient-01: linear-gradient(90deg, #f37362 0%, #fff 100%);
}
body {
	@apply bg-[#0d082d];
}

@layer utilities {
	.font-firacode {
		font-family: "Fira Code", monospace;
	}
	.font-inconsolata {
		font-family: "Inconsolata", monospace;
	}
}
